# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/

# Altres fitxers temporals
*.log
*.obj
*.pch
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.lib
/.vs/LP-OSM-2223/v17/.suo
/.vs/LP-OSM-2223/v17/Browse.VC.db
/.gitignore
